/* src/components/Attractions.css */

.attractionsContainer {
  padding: 40px 20px;
  background: #f8f9fa;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-dark);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.616);
  transition: transform 0.2s;
  text-align: center;
  padding: 15px;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover .cardImage {
  transform: scale(1.05);
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  color: var(--gray);
}

@media (max-width: 768px) {
  .attractionsContainer {
    padding: 30px 10px;
  }
}



