/* src/components/BeforeAfterSlider.css */

.sliderContainer {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}

.sliderInput {
  width: 100%;
  margin-bottom: 10px;
}

.roomImage {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

.label {
  margin-top: 10px;
  font-style: italic;
  color: var(--gray);
}